<div class="content">
  <% if @server.blank? %>
  <%= link_to image_tag('add.png', :size => '30x30', :style => 'vertical-align: middle;'), new_service_path %>
  <b>Services</b>
  <p>&nbsp;</p>
    <ul id="list">
      <% @services.each do |service| %>
        <li>
        <%= link_to image_tag('edit.png', :size => '30x30'), edit_service_path(service) %>
        <%= service.name %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= render 'server_services' %>
  <% end %>
</div>

<script type="text/javascript">
  (function(jQuery){
    var $ = jQuery;
    $(window).load(function(){

      list_columns(jQuery('#list'), 10);

    });
  })(jQuery);
</script>
