
<% if @server.blank? %>
<h1>Listing services</h1>
<%= link_to 'Add a Service', new_service_path %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @services.each do |service| %>
    <tr>
      <td><%= service.name %></td>
      <td><%= link_to 'Edit', edit_service_path(service) %></td>
    </tr>
  <% end %>
  </table>

  <br />

<% else %>
  <%= render 'server_services' %>
<% end %>
