<div class="content">
  <h1>Listing connections</h1>

  <div class="entry">
    <% @connections.each do |c| %>
      <ul>
        <li>
          <%= link_to '[X]', server_connection_path(@server, c['id']), confirm: 'Are you sure?', method: :delete %>
          <%= c['service_name'] %> -> <%= c['conn_server_name'] %>
        </li>
      </ul>
    <% end %>
  </div>

  <%= render 'form' %>
</div>
