<h1>Listing servers</h1>

<%= link_to 'New Server', new_server_path %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= link_to server.name.upcase, server_path(server) %></td>
    <td>|<%= link_to 'Edit', edit_server_path(server) %></td>
  </tr>
<% end %>
</table>

