<div class="content">
  <%= link_to image_tag('add.png', :size => '35x35', :style => 'vertical-align: middle;'), new_server_path %>
  <b>Servers</b>
  <p>&nbsp;</p>

  <ul id="list">
    <% @servers.each_with_index do |server, i| %>
      <li>
        <%= link_to image_tag('edit.png', :size => '30x30'), edit_server_path(server) %>
        <%= link_to server.name, server_path(server) %>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  (function(jQuery){
    var $ = jQuery;
    $(window).load(function(){

      list_columns(jQuery('#list'), 10);

    });
  })(jQuery);
</script>
