<h1>Listing apps</h1>

<%= link_to 'Add an app', new_app_path %>
<% if @server.blank? %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @apps.each do |app| %>
    <tr>
      <td><li><%= app.name %></li></td>
      <% if @server.blank? %>
        <td><%= link_to 'Edit', edit_app_path(app) %></td>
        <td><%# link_to 'Destroy', app, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>

<% else %>
  <%= render 'server_apps' %>
<% end %>
