<div class="content">
  <% if @server.blank? %>
  <%= link_to image_tag('add.png', :size => '30x30'), new_app_path %>
  <b>Applications</b>
  <p>&nbsp;</p>
  <ul id="list">
  <% @apps.each do |app| %>
    <li>
      <%= link_to image_tag('edit.png', :size => '30x30'), edit_app_path(app) %>
      <%= app.name %>
    </li>
  <% end %>
  </ul>
  <% else %>
    <%= render 'server_apps' %>
  <% end %>
</div>

<script type="text/javascript">
  (function(jQuery){
    var $ = jQuery;
    $(window).load(function(){

      list_columns(jQuery('#list'), 10);

    });
  })(jQuery);
</script>
