<div class="content">
  <%= link_to image_tag('add.png', :size => '30x30'), new_location_path %>
  <b>Locations</b>
  <p>&nbsp;</p>
  <ul id="list">
    <% @locations.each do |location| %>
      <li>
        <%= link_to image_tag('edit.png', :size => '30x30'), edit_location_path(location) %>
        <%= link_to location.name, location %>
      </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  (function(jQuery){
    var $ = jQuery;
    $(window).load(function(){

      list_columns(jQuery('#list'), 10);

    });
  })(jQuery);
</script>
